.wrapper {
	background-color: #e0ffff;
	font-family: "Helvetica";
	font-size: 10pt;

	width: calc(100% - 20px);
	margin: 0;
	padding: 10px;
	background: #ffffff;

	button, input {
		width: auto;
		font-size: 14pt;
	}

	#list {
		list-style: none;
		padding-left: 0;

		.item.done {
			span {
				text-decoration: line-through;
			}
			
			background-color: #ffd0d0;
		}

		.item {
			background-color: transparent;
		}
	}
}
